body{
	margin: 0 auto;
}
#container{
	max-width:1345px;
}

div#header {
    height: 10%;
	 position: fixed;
	top:0;
	left:0;
	right:0;
}
div#content {
	position: fixed;
	left:0;
	right:0;
	top: 70px;
    height: 78%;
	overflow: auto;
	align-content: auto;
}

div#footer{
	height: 10%;
	 position: fixed;
	 background-color: blue;
	bottom: 0;
	left:0;
	right:0;
}
ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: blue;
}
ul.topnav li a {
	display: inline-block;
	color: white;
	margin: inherit;
	text-align: center;
	padding: 3px 4px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 13px;
	background-color: blue;
}
ul.topnav li a:hover {background-color: #555;}
ul.topnav li.icon {display: none;}
/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
	ul.topnav li:not(:first-child) {display: none;}
	ul.topnav li.icon {
		float: right;
		display: inline-block;
	}
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
	ul.topnav.responsive {position: relative;}
	ul.topnav.responsive li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	ul.topnav.responsive li {
		float: none;
		display: inline;
	}
	ul.topnav.responsive li a {
		display: block;
		text-align: left;
	}
}

ul {
    margin: 0;
    padding: 0;
    background-color: blue;
	height:70px;
	font-size:20px;
	right:0;
	display:block;

}
li.footer a{
	color: white;
}
li.dropdown{
	position:relative;
	float:right;
	color: white;
	right: 5%;
}
li.logo{
	position:relative;
	float:left;
}
div.pull-left{
	color: #FFFFFF;
	position: relative;


}
div.pull-right{
	color: #FFFFFF;
	position: relative;


}
li{
	display:inline-block;
	padding:10px
	
}
li a {
  
    color: white;
	text-decoration:none;
       margin:0 auto;
   
	
}

/* Change the link color on hover */
li a:hover {
    background-color: green;
    color: white;
}